
<form id="new-badge-form">
    <div class="border">
        <h1>- NEW BADGE PROPOSAL - </h1>
        <br/>

        <h2>NAME</h2>
        <input class="input-text" type="text" name="email" id="goal" value=""/><div class="ic"></div>

        <br/>
        <br/>
        <h2>AWARD RULE</h2>
        <input class="input-text" type="text" name="email" id="goal" value=""/><div class="ic"></div>

    </div>
</form>


<br/>
<br/>
<h1>DEBATE: </h1>

<form id="comment">
    <div class="border">
        <h2>VLAD PECO</h2>
        Trust: 233

        <p>Comentariul este aici. Bla bla cud  vdu dnunaom pasm sapmdasd.</p>

    </div>
    <a href="">Agree</a> | <a href="">Disagree</a> | <a href="">Conclude</a> | <a href="">Suggest Correction</a> | <a href="">Reply</a> | <a href="">Black Ball</a>
</form>


<br/>
<br/>
<form id="new-comment-form">
    <div class="border">
        <textarea class="comment" rows="2" cols="64" type="text" name="subject" id="subject"></textarea>
        <div class="submit">
            <h2>VLAD PECO</h2>
            <a href="">Send Message</a>
        </div>
    </div>
    <script type="text/javascript">$("textarea.comment").autoGrow();</script>
</form>


</div>