{% extends 'MainPage.django.html' %}

{% block javascript %}
{% endblock %}

{% block content %}
<div id="login-frame">
    <div id="janrainEngageEmbed" class="login-iframe"></div>
</div>
<div id="login-screen">
    <div id="webocrat-logo"></div>
</div>
<div class="block">
    <div class="row">
        <!--3n-->
        <div class="third">
            <h1>CONNECTED</h1>
            <img src="" width="300" height="150" />
            <p>
                We're deeply connected to each other. The internet has only scratched the surface of our collective power.
                Having more people inside the decision making process makes things easier for everyone.
            </p>
        </div>
        <div class="third">
            <h1>BASIC EVOLUTION</h1>
            <img src="" width="300" height="150" />
            <p>
                Throughout history, every single time communication tools have evolved, new patterns of social organization have emerged.
                <!--<a href="#video">see video</a></br>-->
                Now, for the first time, we are able to organize in large groups at very low costs and push for the changes we want.
            </p>
        </div>
        <div class="third">
            <h1>TOOLS</h1>
            <img src="" width="300" height="150" />
            <p>
                Our goal is delivering the tools we all need to build social and political pressure wherever and whenever your community needs it.
                With the innovative communication and decision making system we’re bringing to the table, the political scene is taking a turn.</br>
            </p>
        </div>
    </div>


    <div class="row">
        <!--5v-->
        <div class="third">
            <h1>DIPLOMACY</h1>
            <img src="" width="300" height="150" />
            <p>
                While we all know the current system is broken almost all over the world,
                we also know that in order to get where we want we need to cooperate and integrate our vision in the
                existing landscape.</br>
                <a href="">Become an ambassador</a>
            </p>
        </div>

        <div class="third">
            <h1>REAL DEMOCRACY</h1>
            <img src="" width="300" height="150" />
            <p>
                Real democracy is not possible without a communication system capable of handling the challenges that
                arise when millions of voices need to be heard.
                With the use of the internet and new technology this is no longer just a dream.
            </p>
        </div>

        <div class="third">
            <h1>TRANSPARENCY</h1>
            <img src="" width="300" height="150" />
            <p>
                Developing an open system is key to our success.
                We believe that any public system should be open-sourced, owned and controlled by the people that use it.
                This means no hidden tricks and no meetings with closed doors.
            </p>
        </div>

    </div>


    <div class="row">
        <!--4a-->
        <div class="third">
            <h1>BLACK BOOK</h1>
            <img src="" width="300" height="150" />
            <p>
                Being open, online communication can be easily disturbed.
                Having a button for filtering out troublemakers, spammers or evil corporate/political interests saves valuable time and energy while discouraging similar actions.
            </p>
        </div>

        <div class="third">
            <h1>TRUST NETWORK</h1>
            <img src="" width="300" height="150" />
            <p>
                A trust-based rating system instantly shows the real support any member of the group has.
                This means that you can give and take back the trust you gave to a person or entity. At any time.
                Just like in real life, you can choose to make this information public or keep it to yourself.
            </p>
        </div>

        <div class="third">
            <h1>ORGANIC GROUPS</h1>
            <img src="" width="300" height="150" />
            <p>
                A natural organisational model, that better reflects the relationship between people and their collective goals,
                allows us to focus on the real issues we are facing, getting the hassle of organising communication out of the way.
                <!--<a href="">See the video</a>-->
            </p>
        </div>

    </div>



</div>

<div class="block">



    <div class="row">
        <!--2s-->
        <div class="third">
            <h1>GRAPHIC DESIGNERS</h1>
            <img src="" width="300" height="150" />
            <p>
                Support the cause you love by designing a good logo or images that get the message delivered.</br>
                <a href="">Join the graphic designers</a></br>
            </p>
        </div>

        <div class="third">
            <h1>FILM MAKERS</h1>
            <img src="" width="300" height="150" />
            <p>Video is king when it comes to reaching a wide audience. Make an impression.
            </p>
        </div>

        <div class="third">
            <h1>WRITERS</h1>
            <img src="" width="300" height="150" />
            <p>
                Good writing is essential in any communication effort. Join the <a href="">writer's association</a> and put your talent at work.
            </p>
        </div>

    </div>

    <div class="row">

        <div class="third">
            <h1>FUNDING</h1>
            <img src="" width="300" height="150" />
            <p>
                Webocrat is a grassroots funded organisation. We rely on you to take responsibility and pay your share.
                <a href="">Become a funding member</a> with a $3 monthly fee. </br>
                <a href="">Adopt a programmer.</a></br>
                Non-profits : <a href="">secure funding</a> for your projects from the webocrat community.</br>
            </p>
        </div>

        <div class="third">
            <h1>WATCHDOG</h1>
            <img src="" width="300" height="150" />
            <p>
                Having all the eggs in the same basket is never a good idea.
                This is why we're mirroring public data permanently to a growing number of servers.</br>
                <a href="">Choose a watchdog server</a> owned by someone you trust or <a href="">Add your own server</a>
            </p>
        </div>

        <div class="third">
            <h1>HACKERS</h1>
            <img src="" width="300" height="150" />
            <p>
                Webocrat is built on top of Google's App Engine / Python. If you want to bring your contribution : </br>
                <a href="">Join one of the developer teams</a> or
                </br><a href="">Create your own project</a></br>
                <!--<a href="">code.webocrat.org</a>-->
            </p>
        </div>

    </div>

</div>

{% endblock %}

